<div class="c-credentials">
    <p class="c-credentials__text">{{ text }}</p>

    <div class="c-credentials__badges">
        <div class="c-credentials__badge">
            <img class="c-credentials__badge-logo" src="{{ badges[0].image }}" alt="{{ badges[0].alt }}"/>
        </div>
        <div class="c-credentials__badge">
            <img class="c-credentials__badge-logo" src="{{ badges[1].image }}" alt="{{ badges[1].alt }}"/>
        </div>
        <div class="c-credentials__badge">
            <img class="c-credentials__badge-logo" src="{{ badges[2].image }}" alt="{{ badges[2].alt }}"/>
        </div>
    </div>
</div>
